.App {
  text-align: center;
}

.bifoldContainer{
  display: inline-flex;
  padding: 25px;
  
}
.resume{
  width: 70%;
  border-right: 4px  double black;
  padding-right: 20px;
  justify-content: center;
}
.skills{
  margin-left: 30px;

}
.project{
  background-color: slategray;
  border-radius: 30px;
  border: 3px solid;
  padding: 20px;
  margin-top: 20px;
  
}
img{
  width: 300px;
  height: auto;
}
